<div class="form-group" align="center">
    <input class="form-control" [(ngModel)]="search" id="input" placeholder="Enter repository name ..."><br>
    <button type="submit" class="btn btn-success" (click)="doSearch()">Search</button>
</div>

<div *ngIf="res">
    <span>Results: {{res.total_count}}</span>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Repo Name</th>
                <th scope="col">GitHub Page</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let repo of res.items">
                <td>{{repo.full_name}}</td>
                <td><a target="_blank" href="{{repo.html_url}}">Open GitHUb Page</a> </td>
            </tr>
        </tbody>
    </table>
</div>