<div class="container-fluid">

    <div class="form-group" align="center">
        <input type="text" class="form-control" (keyup.enter)="doSearch(search)" [(ngModel)]="search" id="input" placeholder="Enter user name ..."><br>
        <button type="submit" class="btn btn-secondary" (click)="doSearch(search)" id="submit">Search</button>
    </div>

    <div *ngIf="res">
        <span>Results: {{res.total_count | fmtResults}}</span>


        <div class="card-columns">

            <div class="card shadow text-center" style=" width: 18rem; " *ngFor="let user of res.items ">
                <img class="img-thumbnail rounded-circle" src="{{user.avatar_url}} " alt="no image" height="100" width="100">
                <div class="card-body ">
                    <a target="_blank" href="{{user.html_url}}">{{user.login}}</a>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item "><a href="/repos/{{user.login}}" class="btn btn-secondary card-link ">Repositories</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>