<div class="form-group" align="center">
    <input class="form-control" [(ngModel)]="search" id="input" placeholder="Enter username ..."><br>
    <button type="submit" class="btn btn-success" (click)="doSearch()">Search</button>
</div>

<div *ngIf="res">
    <span>Results: {{res.total_count}}</span>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">GitHub Page</th>
                <th scope="col">Repositories</th>
                <th scope="col">Profile Photos</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of res.items">

                <td>{{user.login | uppercase}}</td>
                <td><a target="_blank" href="{{user.html_url}}">Open GitHub Page</a> </td>
                <td><a target="_blank" href="{{user.html_url}}">Show Repositores</a> </td>
                <td><img src="{{user.avatar_url}} " alt="no image" height="100" width="100"> </td>

            </tr>
        </tbody>
    </table>


</div>