<div class="container-fluid">

    <div class="form-group" align="center">
        <input class="form-control" [(ngModel)]="search" id="input" placeholder="Enter username ..."><br>
        <button type="submit" class="btn btn-primary" (click)="doSearch()">Search</button>
    </div>

    <div *ngIf="res">
        <span>Results: {{res.total_count}}</span>


        <div class="card-columns">

            <div class="card text-center" style=" width: 18rem; " *ngFor="let user of res.items ">
                <img src="{{user.avatar_url}} " alt="no image " height="100 " width="100 ">
                <div class="card-body ">
                    <h5 class="card-title ">{{user.login}}</h5>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item "><a target="_blank" href="{{user.html_url}}" class="btn btn-secondary card-link ">GitHub Page</a></li>
                    <li class="list-group-item "><a href="# " class="btn btn-secondary card-link ">Repositories</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>